
<% action.messages.each do |msg| %>
  msg.text
<% end %>

<% if action.host && !action.statuses.empty? %>
  <%= _("Host's status:") %>
  <ul>
  <% action.statuses.each do |name, status| %>
    <li><%= name + ": " + status['label'] %></li>
  <% end %>
  </ul>
<% else %>
  <%= _("Host's status is unknown") %>
<% end %>
